body {
    font-family: Helvetica, arial, sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6e6e6;
}

nav > a {
 font-size: 1em; /* Corresponde ao tamanho da fonte */
 font-weight: 700; /*Corresponde à espessura do caracteres */
 color: #171717; /* A cor da fonte */
 margin: 7px; /* Estamos dando um espaço externo de 7px*/
 text-decoration: none; /* Estamos indicando que aqui não terá nenhum decoração*/
}
nav ul {
 width: 100%; /* Vamos deixar uma largura de 100% para o utilizador do seu menu ter uma melhor experiência */
 display: flex; /* Iremos indicar que a lista desordenada será flex */
 flex-direction: column; /* Mais uma vez serão alinhados em colunas */
 align-items: center; /*E centralizado*/
 list-style: none; /* significa que não teremos estilo para os itens da lista */
 padding: 0; /*Vamos dar um espaço interno de 0px*/
}

nav ul li {
 width: 100%; 
 text-align: center; /*Vamos alinhar os textos no centro */
}

nav ul li a {
 width: 100%;
 display: inline-block;
 padding: 8px 0;
 color: #000000;
 text-decoration: none;
}

nav ul li a:hover {
 color: #f40343; /* Quando passarmos o mouse sobre os itens do menu a suas cores irão mudar para um tipo de vermelho */
}

@media screen and (min-width: 700px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul {
        flex-direction: row;
        width: 70%;
    }
}
